@(event : Event)
@main {
} {
    <script src="@routes.Assets.at("javascripts/viewevent/main.js")" type="text/javascript"></script>
} {
    @if(event != null){
        <div class="event-title-div">
            <h1>@event.caption</h1>
        </div>

        <div class="event-content-box">
            <h3>Information</h3>
            <dl>
                <dt>Skapat av: </dt>
                <dd>@event.creator.getFullName</dd>
                <dt>Datum och tid: </dt>
                <dd>@event.event_time</dd>
                <dt>Plats: </dt>
                <dd>@event.location</dd>
                @* <dd>@event.latitude, @event.longitude</dd>  *@
            </dl>
            <!-- <button class="btn btn-success btn-large">Delta</button>
            <button class="btn btn-danger btn-large">Delta inte</button>   -->
        </div>


        <div class="event-content-box" id="description-div">
            @if(event.description == null && event.road_description == null) {
                <p class="lead">Ingen beskrivning finns för detta evenemang.</p>
            } else {
                @if(event.description != null) {
                    <h3>Beskrivning</h3>
                    <input type="button" class="btn btn-info" value="Redigera" id="edit-description-button"
                        onclick="editDescription()" />
                    <p id="description">@event.description</p>
                }
        </div>
        <div class="event-content-box" id="road-description-div">
                @if(event.road_description != null) {
                    <h3>Vägbeskrivning</h3>
                    <input type="button" class="btn btn-info" value="Redigera" id="edit-road-description-button"
                        onclick="editRoadDescription()" />
                    <p id="road-description">@event.road_description</p>
                }
            }
        </div>

       @* <div class="event-content-box">
            <h3>Deltagare</h3>
            <h4>@(event.attending.size())st</h4>  <!-- Hitta totalt antal deltagare för ett event -->
            <div class="event-participants">
                <table class="table table-condensed">
                    <tr>
                        <th>Deltagare</th>
                    </tr>
                    @for(attending : Attending <- event.attending){
                        <tr>
                            <td><a href="#">@(attending.user.getFullName())</a></td>
                        </tr>
                    }         *@
        <!--        </table>
            </div>
        </div>  -->


        <!-- <div class="event-content-box">

            <h3>Kommentarer</h3>

            <div class="write-comment">
                <h4>Skriv kommentar:</h4>
                <form class="form-horizontal">
                    <textarea id="comment_text" rows="2" class="write-comment-textarea"></textarea>
                    <input type="submit" class="btn btn-info write-comment-button" value="Kommentera"/>
                </form>
            </div>
            <hr class="comment-separator-line">

            <div class="comments-box">
                <ul class="comments">               -->
@*                    @for(comment : Comment <- event.comments) {
                        <li>
                            <div class="comment-entry-commenter">
                                <a href="#">@comment.user.getFullName</a>
                            </div>
                            <div class="text comment-entry-content">
                                @comment.text
                            </div>
                            <div class="text comment-action-bar">
                                <a href="#"><em>Svara</em></a>
                                @if(comment.user == event.creator){ <!-- inte event.creator, utan ex. currentUser -->
                                    <a href="#"><em>Ta bort</em></a>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>    *@

    } else {
        <h1>Evenmanget du letar efter går inte att hitta.</h1>
    }
}

