@(listOfEvents: List[Event])
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Eventsökning</title>
</head>

@main {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/searchevents.css")">

} {
<script src="@routes.Assets.at("javascripts/searchevents/main.js")" type="text/javascript"></script>
} {
<body>
<form action="@routes.SearchEvents.index()" method="post">

    <div id = searchField>
        <div><label for="tag">Söktaggar:</label></div>
        <input id="tag" name="tag" />
        <input type="submit" value="Sök" />
    </div>
</form>
<div id = results>
    @if(listOfEvents!= null) {
        @if(!listOfEvents.isEmpty){
        <ul>
    @for(event : Event <- listOfEvents)  {
    <li>@event.id <br> @event.caption</li>
        </div>
    }
        </ul>
        } else {
        <p>Inga evenemang funna</p>
        }
     }
</div>
</body>


}
</html>