body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .container {
        width: 600px;
    }

    .container {
        width: 600px;
    }
}

.text-unimportant {
    color: #afafaf;
}

a.text-unimportant:hover,
a.text-unimportant:focus {
    color: #808080;
}

.comments {
    list-style: none;
}

.comments li {
    margin-bottom: 10px;
}
.comments .text {
    margin-left: 10px;
}

.event-title-div {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border:2px solid;

    padding-left: 5px;
    padding-right: 5px;

    box-shadow: 5px 5px 3px #888888;

    background-image: linear-gradient(bottom, rgb(33,181,50) 28%, rgb(60,240,84) 62%);
    background-image: -o-linear-gradient(bottom, rgb(33,181,50) 28%, rgb(60,240,84) 62%);
    background-image: -moz-linear-gradient(bottom, rgb(33,181,50) 28%, rgb(60,240,84) 62%);
    background-image: -webkit-linear-gradient(bottom, rgb(33,181,50) 28%, rgb(60,240,84) 62%);
    background-image: -ms-linear-gradient(bottom, rgb(33,181,50) 28%, rgb(60,240,84) 62%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.28, rgb(33,181,50)),
        color-stop(0.62, rgb(60,240,84))
    );
}

.event-content-box {
    margin-top: 20px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    border: 2px solid;

    padding: 2%;
}

.event-basic-info ul {
    margin-left: 2%;
}

.event-basic-info p {
    margin-bottom: 2px;
}

.event-participants {
    overflow: auto;

    height: 150px;
    width: 80%;

    border: 1px #bbbbbb solid;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

    background: #ffffff;
}

.comment-entry-commenter {

    border: 1px darkgray solid;

    margin-right: 7%;
    padding: 2%;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.comment-entry-content {

    border: 1px darkgray solid;

    margin-right: 7%;
    margin-bottom: 7%;
    padding: 2%;

    background: #d1e2ff;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.write-comment {
    border: 1px solid;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    margin: 0 5% 5% 5%;
    padding-left: 4%;

}

.write-comment-textarea {
    width: 90%;
    margin-right: 2%;
}

.comment-separator-line {
    background: darkgray;

    margin: 0 5% 5% 5%;
    height: 3px;
}

.write-comment-button {
    margin-bottom: 4%;
}

.comments-box {
    overflow: auto;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    margin-left: 5%;
    margin-right: 5%;

    height: 15em;
}