@main {
} {
    <script src="@routes.Assets.at("javascripts/register/main.js")" type="text/javascript"></script>
} {
<h1>Registrera</h1>
<p> Här ska det registreras! :D !?</p>

@helper.form(action=routes.Application.index()){  <!--Ändra action här // Michel-->
    <p> Användarnamn: </p>
    <input type='text' name='username' />
    <p> Lösenord: </p>
    <input type='password' name='password' /><br>
    <p> Email </p>
    <input type='email' name='email'/><br>
    <input type='submit' name='Submit' value='Registrera' />
}

}