@(extraCSS : Html)(extraJS : Html)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>Vad händer?</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/test.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    @extraCSS
    @extraJS
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
    @content
</body>
</html>
