@(extraCSS : Html)(extraJS : Html)(content: Html)

<!DOCTYPE html>
<html lang="sv">
<head>
    <title>Vad händer?</title>


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    @extraCSS
    @extraJS

    <meta charset="utf-8">
    <title>Vad händer? - Välkommen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Vad händer?</a>
                <div class="nav-collapse collapse" style="height: 0px;">
                    <ul class="nav">

                        <li #{if request.action=="@routes.EventFeed.index()"}class="active"#{/if}> <a href="@routes.EventFeed.index">Start</a></li>
                        <li #{if request.action=="@routes.CreateEvent.index()"}class="active"#{/if}> <a href="@routes.CreateEvent.index">Skapa</a></li>
                        <li #{if request.action=="@routes.Login.index()"}class="active"#{/if}> <a href="@routes.Login.index">Logga in</a></li>
                        <li #{if request.action=="@routes.Register.index()"}class="active"#{/if}> <a href="@routes.Register.index">Registrera</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @content

            (@routes.EventFeed.index)
        Det här är eventfeed.
            ${request.action}

    </div> <!-- /container -->

        <!-- Le javascript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
</body>
</html>
